.center {
    clear: left;
    float: left;
    position: relative;
    left: 5%;
}

#leaflet_map{
    height: 800px;
}

#footer {
    z-index: 10;
    left: 50%;
    position:absolute;
    bottom:0;
    /*height:60px; */
    background:#6cf;
}